<%# Art publish QR code %>

<%- include('header.ejs') %>

<main role="main">
	<section class="jumbotron artwork-publish">  
		<form class="form-artwork-publish" action="/art-publish-qrcode-post" method="post" encType="multipart/form-data">
			<h1 class="h3 mb-3 font-weight-normal artwork-publish text-center">Publish Art QR Code</h1>
			<p class="artwork-publish text-center">Provide the following material to publish an artwork QR Code.<br/>
			* Required Fields</p>
			<label for="qrcode-file">QR Code Filename*</label>
			<input type="file" class="form-control" id="FileName" name="FileName" placeholder="QR Code Filename" value="" required>
			<label for="artworkID">Art ID*</label>
			<input type="number" class="form-control" name="ArtworkId" id="ArtworkId" placeholder="ex: 2468" value="" required>
			<hr class="mt-2">
			<p><input type="submit" class="btn btn-secondary publish" value="Publish"></p>
		</form>
	</section>
</main>

<% if (typeof ErrorText !== 'undefined' && ErrorText !== null && ErrorText != '') { %>
	<div class="container">
		<div class="alert alert-danger alert-dismissible">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<%= ErrorText %>
		</div>
	</div>
<% } %>

<%- include('footer.ejs') %>