<%# Footer Fragment %>

<footer class="footer">
	<div class="container text-center">
	<span class="text-muted">
		<a class="" href="/termsofservice">Terms of Service</a> |
		<a class="" href="/privacypolicy">Privacy Policy</a>
	</span>
	</div>
</footer>