<%- include('header.ejs') %>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/album.css' />
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">How it Works</h1>
          <p class="lead text-muted">It’s a snap! Buy and Sell fractional ownership of artwork.</p>
        </div>
      </section>
      <div class="jumbotron registration">
        <div class="container">
			<p>Art owners tag their artworks with the Look Lateral Signature Tags, then upload their works (along with the respective provenance information) to the immutable Look Lateral blockchain. 
			Owners then chose to make between 10% and 49% of each piece available for purchase on the platform, at which time buyers can use their LOOK tokens to purchase fractional ownership of those pieces. 
			Minimum purchase is $10 USD.</p>
			
			<p>After that initial purchase of fractional ownership, Members may buy and sell their fractional ownership in the Look Lateral marketplace. 
			The Look Lateral Coop is a membership-driven cooperative organization. Membership is required to participate in the platform. 
			Some restrictions apply, please see <a href="/termsofservice">Terms and Conditions</a> for more information.</p>
		</div>
	 </div>
	 <div class="container">
	<div class="row">
       <div class="col-lg-6">
         <h2 class="text-center">Buy & Sell</h2>
         <p>With a minimum $10 USD purchase, any Member of the Look Lateral Cooperative can buy and sell real, contractually binding fractional ownership in any artwork available on the platform. 
			Just bought 10% of a Picasso? Congratulations! Want to diversify your holdings or invest in a new artist? Sell some of your fractions on the platform and use your LOOKs to buy more!</p>
       </div>
       <div class="col-lg-6">
         <h2 class="text-center">Art Owners</h2>
         <p>Enhance the value of your collection by tagging and developing an immutable provenance record for your pieces, stored on the blockchain. Created liquidity for your investments without giving up 
			possession, by selling up to 49% fractional ownership in each piece.</p>
       </div>
     </div>	 </div>    </main>
  </body>
</html>

<%- include('footer.ejs') %>
